.header{
    position: absolute;
    width: 100%;
    padding: 50px 0;
    top: 0;
    z-index: 9999;
    @include responsive_600{
        padding: 30px 0;
    }
    @include responsive_480{
        padding: 15px 0;
    }
    &-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo {
            img{
                @include responsive_480{
                    width: 40px;
                }
            }
        }
        .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 -26px;
            @include responsive_480{
                margin: 0 -16px;
            }
            &-header {
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 0;
                    li {
                        padding: 0 26px;
                        @include responsive_480{
                            padding: 0 16px;
                        }
                        a{
                            color: $textWhite;
                            font-family: $font1;
                            font-weight: bold;
                            font-size: 18px;
                            @include responsive_600{
                                font-size: 15px;
                            }
                            @include responsive_480{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            .cart-header{
                padding: 0 26px;
            }
        }
    }
}