.container-name-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 70px;
    @include responsive_768{
        padding-bottom: 30px;
        padding-top: 50px;
    }
    @include responsive_600{
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .line{
        height: 2px;
        width: 996px;
        background: $textWhite-light;
        @include responsive_992{
            width: 796px;
        }
        @include responsive_768{
            width: 80%;
        }
    }
    .name-products-detail h2{
        font-size: 20px;
        font-family: $font1;
        color: $color-black;
        @include responsive_600{
            font-size: 16px;
        }
    }
}
.items-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include responsive_480{
        display: block;
    }
    .item-product{
        background-color: $backgournd-second;
        width: 308px;
        border: solid 6px $color-brown;
        border-radius: 5px;
        @include responsive_1200{
            width: 30%;
        }
        @include responsive_480{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .img-product{
            text-align: center;
            height: 210px;
            @include responsive_992{
                height: 180px;
            }
            @include responsive_768{
                height: 150px;
            }
            @include responsive_600{
                height: 120px;
            }
            @include responsive_480{
                height: auto;
            }
            img{
                @include responsive_992{
                    height: 100%;
                }
            }
        }
        .category-price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            padding-bottom: 25px;
            padding-top: 50px;
            @include responsive_992{
                padding-top: 40px;
            }
            @include responsive_768{
                padding-top: 30px;
                padding-bottom: 15px;
            }
            @include responsive_600{
                padding: 0 10px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            @include responsive_480{
                padding: 0 20px;
                padding-bottom: 25px;
                padding-top: 50px;
            }
            .category{
                font-family: $font1;
                font-size: 18px;
                color: $color-brown;
                font-weight: bold;
                @include responsive_600{
                    font-size: 16px;
                }
            }
            .price{
                font-size: 22px;
                font-family: $font1;
                color: $color-black;
                font-weight: bold;
                @include responsive_600{
                    font-size: 16px;
                }
            }
        }
        .size-color{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            padding-bottom: 50px;
            padding-top: 25px;
            @include responsive_992{
                padding-bottom: 40px;
            }
            @include responsive_768{
                padding-bottom: 30px;
                padding-top: 15px;
            }
            @include responsive_600{
                padding: 0 10px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            @include responsive_480{
                padding: 0 20px;
                padding-bottom: 50px;
                padding-top: 25px;
            }
            .color{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-cirle{
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    margin-left: 5px;
                    cursor: pointer;
                    @include responsive_600{
                        width: 15px;
                        height: 15px;
                    }
                }
                &-cirle:nth-child(1){
                    background: blue;
                }
                &-cirle:nth-child(2){
                    background-color: #ffe637;
                }
                &-cirle:nth-child(3){
                    background-color: #535253;
                }
            }
            .size{
                font-family: $font1;
                font-weight: bold;
                font-size: 16px;
                color: $color-black;
                position: relative;
                span{
                    display: block;
                    transform: rotate(90deg);
                    height: 10px;
                    position: absolute;
                    top: 5px;
                    right: -20px;
                    cursor: pointer;
                }
            }
        }
    }
}
.pagination div:nth-child(2){
    font-size: 20px;
    cursor: pointer;
}
.pagination-first {
    text-align: right;
    padding-bottom: 25px;
    div{
        font-family: $font1;
        font-size: 16px;
        color: $color-brown;
        font-weight: bold;
    }
}
.pagination-second {
    text-align: left;
    padding-bottom: 25px;
    div{
        font-family: $font1;
        font-size: 16px;
        color: $color-brown;
        font-weight: bold;
    }
}
.name-products:nth-child(2){
    flex-direction: row-reverse;
}