@font-face {
  font-family: "Quicksand";
  src: url("../../../static/Quicksand-Bold.woff2") format("woff2"), url("../../../static/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../static/Quicksand-Light.woff2") format("woff2"), url("../../../static/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../static/Quicksand-Medium.woff2") format("woff2"), url("../../../static/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../static/Quicksand-Regular.woff2") format("woff2"), url("../../../static/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../static/Quicksand-SemiBold.woff2") format("woff2"), url("../../../static/Quicksand-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand_book";
  src: url("../../../static/Quicksand_Book.otf") format("woff2");
  font-style: normal;
  font-display: swap;
}
body {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  width: 100%;
  padding: 50px 0;
  top: 0;
  z-index: 9999;
}
@media only screen and (max-width : 600px) {
  .header {
    padding: 30px 0;
  }
}
@media only screen and (max-width : 480px) {
  .header {
    padding: 15px 0;
  }
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width : 480px) {
  .header-main-logo img {
    width: 40px;
  }
}
.header-main .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -26px;
}
@media only screen and (max-width : 480px) {
  .header-main .menu {
    margin: 0 -16px;
  }
}
.header-main .menu-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
.header-main .menu-header ul li {
  padding: 0 26px;
}
@media only screen and (max-width : 480px) {
  .header-main .menu-header ul li {
    padding: 0 16px;
  }
}
.header-main .menu-header ul li a {
  color: #ffffff;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 18px;
}
@media only screen and (max-width : 600px) {
  .header-main .menu-header ul li a {
    font-size: 15px;
  }
}
@media only screen and (max-width : 480px) {
  .header-main .menu-header ul li a {
    font-size: 13px;
  }
}
.header-main .menu .cart-header {
  padding: 0 26px;
}

.banner {
  background: url("../images/img-banner.png") no-repeat;
  background-size: cover;
  padding-top: 305px;
  padding-bottom: 325px;
  position: relative;
}
@media only screen and (max-width : 1024px) {
  .banner {
    padding-top: 225px;
    padding-bottom: 250px;
  }
}
@media only screen and (max-width : 992px ) {
  .banner {
    padding-top: 215px;
    padding-bottom: 244px;
  }
}
@media only screen and (max-width : 600px) {
  .banner {
    padding-top: 160px;
    padding-bottom: 94px;
  }
}
@media only screen and (max-width : 480px) {
  .banner {
    padding-top: 112px;
  }
}
.banner .banner-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: header-down 1s infinite;
  cursor: pointer;
}
@keyframes header-down {
  0% {
    opacity: 0.5;
    bottom: 4%;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width : 480px) {
  .banner .banner-down img {
    width: 30px;
  }
}
.banner .container-banner {
  text-align: center;
}
.banner .container-banner .title-banner h2 {
  font-family: "Quicksand";
  font-weight: bold;
  color: #ffffff;
  font-size: 60px;
  margin: 0;
}
@media only screen and (max-width : 992px ) {
  .banner .container-banner .title-banner h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width : 768px) {
  .banner .container-banner .title-banner h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width : 600px) {
  .banner .container-banner .title-banner h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width : 480px) {
  .banner .container-banner .title-banner h2 {
    font-size: 25px;
  }
}
.banner .container-banner .des-banner {
  width: 600px;
  margin: 0 auto;
}
@media only screen and (max-width : 768px) {
  .banner .container-banner .des-banner {
    width: 80%;
  }
}
.banner .container-banner .des-banner p {
  font-family: "Quicksand_book";
  font-weight: normal;
  color: #d3d3d4;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0;
}
@media only screen and (max-width : 600px) {
  .banner .container-banner .des-banner p {
    font-size: 15px;
  }
}
@media only screen and (max-width : 480px) {
  .banner .container-banner .des-banner p {
    font-size: 13px;
  }
}

.second {
  background: #f5f6f7;
  padding: 60px 0;
}
.second .item-second {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
}
@media only screen and (max-width : 600px) {
  .second .item-second {
    margin-right: 10px;
  }
}
.second .item-second input[type=checkbox] {
  display: none;
}
.second .item-second input[type=checkbox]:checked + .check {
  display: block;
  border: 2px solid #aa9b77;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
@media only screen and (max-width : 600px) {
  .second .item-second input[type=checkbox]:checked + .check {
    top: 6px;
  }
}
@media only screen and (max-width : 480px) {
  .second .item-second input[type=checkbox]:checked + .check {
    width: 10px;
    height: 10px;
    top: 3px;
  }
}
.second .item-second label {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 18px;
  padding-left: 15px;
}
@media only screen and (max-width : 600px) {
  .second .item-second label {
    font-size: 14px;
    padding-left: 5px;
  }
}
@media only screen and (max-width : 480px) {
  .second .item-second label {
    font-size: 12px;
    padding-left: 0px;
  }
}
.second .item-second .check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1px;
  fill: #aa9b77;
  display: none;
  position: absolute;
  left: 0px;
  top: -5px;
}
.second .item-second::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid #cccccc;
  border-radius: 2px;
  position: relative;
  top: 4px;
}
@media only screen and (max-width : 600px) {
  .second .item-second::before {
    top: 6px;
  }
}
@media only screen and (max-width : 480px) {
  .second .item-second::before {
    width: 10px;
    height: 10px;
    top: 3px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .narbar-right a {
  color: #ffffff;
  background: #aa9b77;
  display: block;
  width: 198px;
  height: 48px;
  text-align: center;
  font-size: 14px;
  font-family: Quicksand;
  line-height: 3.5;
  border-radius: 5px;
  border: solid 2px #aa9b77;
}
@media only screen and (max-width : 600px) {
  .navbar .narbar-right a {
    width: 140px;
    height: 40px;
    line-height: 3.4;
    font-size: 12px;
  }
}
@media only screen and (max-width : 480px) {
  .navbar .narbar-right a {
    width: 120px;
    height: 30px;
    font-size: 10px;
  }
}
.navbar .narbar-right a:hover {
  background: #f5f6f7;
  color: #aa9b77;
  border: solid 2px #aa9b77;
  transition: 0.5s;
}

.container-name-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 70px;
}
@media only screen and (max-width : 768px) {
  .container-name-products {
    padding-bottom: 30px;
    padding-top: 50px;
  }
}
@media only screen and (max-width : 600px) {
  .container-name-products {
    padding-bottom: 10px;
    padding-top: 30px;
  }
}
.container-name-products .line {
  height: 2px;
  width: 996px;
  background: #d3d3d4;
}
@media only screen and (max-width : 992px ) {
  .container-name-products .line {
    width: 796px;
  }
}
@media only screen and (max-width : 768px) {
  .container-name-products .line {
    width: 80%;
  }
}
.container-name-products .name-products-detail h2 {
  font-size: 20px;
  font-family: "Quicksand";
  color: #333333;
}
@media only screen and (max-width : 600px) {
  .container-name-products .name-products-detail h2 {
    font-size: 16px;
  }
}

.items-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width : 480px) {
  .items-products {
    display: block;
  }
}
.items-products .item-product {
  background-color: #f5f6f7;
  width: 308px;
  border: solid 6px #aa9b77;
  border-radius: 5px;
}
@media only screen and (max-width: 1200px) {
  .items-products .item-product {
    width: 30%;
  }
}
@media only screen and (max-width : 480px) {
  .items-products .item-product {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.items-products .item-product .img-product {
  text-align: center;
  height: 210px;
}
@media only screen and (max-width : 992px ) {
  .items-products .item-product .img-product {
    height: 180px;
  }
}
@media only screen and (max-width : 768px) {
  .items-products .item-product .img-product {
    height: 150px;
  }
}
@media only screen and (max-width : 600px) {
  .items-products .item-product .img-product {
    height: 120px;
  }
}
@media only screen and (max-width : 480px) {
  .items-products .item-product .img-product {
    height: auto;
  }
}
@media only screen and (max-width : 992px ) {
  .items-products .item-product .img-product img {
    height: 100%;
  }
}
.items-products .item-product .category-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 25px;
  padding-top: 50px;
}
@media only screen and (max-width : 992px ) {
  .items-products .item-product .category-price {
    padding-top: 40px;
  }
}
@media only screen and (max-width : 768px) {
  .items-products .item-product .category-price {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width : 600px) {
  .items-products .item-product .category-price {
    padding: 0 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width : 480px) {
  .items-products .item-product .category-price {
    padding: 0 20px;
    padding-bottom: 25px;
    padding-top: 50px;
  }
}
.items-products .item-product .category-price .category {
  font-family: "Quicksand";
  font-size: 18px;
  color: #aa9b77;
  font-weight: bold;
}
@media only screen and (max-width : 600px) {
  .items-products .item-product .category-price .category {
    font-size: 16px;
  }
}
.items-products .item-product .category-price .price {
  font-size: 22px;
  font-family: "Quicksand";
  color: #333333;
  font-weight: bold;
}
@media only screen and (max-width : 600px) {
  .items-products .item-product .category-price .price {
    font-size: 16px;
  }
}
.items-products .item-product .size-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 50px;
  padding-top: 25px;
}
@media only screen and (max-width : 992px ) {
  .items-products .item-product .size-color {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width : 768px) {
  .items-products .item-product .size-color {
    padding-bottom: 30px;
    padding-top: 15px;
  }
}
@media only screen and (max-width : 600px) {
  .items-products .item-product .size-color {
    padding: 0 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width : 480px) {
  .items-products .item-product .size-color {
    padding: 0 20px;
    padding-bottom: 50px;
    padding-top: 25px;
  }
}
.items-products .item-product .size-color .color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-products .item-product .size-color .color-cirle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}
@media only screen and (max-width : 600px) {
  .items-products .item-product .size-color .color-cirle {
    width: 15px;
    height: 15px;
  }
}
.items-products .item-product .size-color .color-cirle:nth-child(1) {
  background: blue;
}
.items-products .item-product .size-color .color-cirle:nth-child(2) {
  background-color: #ffe637;
}
.items-products .item-product .size-color .color-cirle:nth-child(3) {
  background-color: #535253;
}
.items-products .item-product .size-color .size {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  position: relative;
}
.items-products .item-product .size-color .size span {
  display: block;
  transform: rotate(90deg);
  height: 10px;
  position: absolute;
  top: 5px;
  right: -20px;
  cursor: pointer;
}

.pagination div:nth-child(2) {
  font-size: 20px;
  cursor: pointer;
}

.pagination-first {
  text-align: right;
  padding-bottom: 25px;
}
.pagination-first div {
  font-family: "Quicksand";
  font-size: 16px;
  color: #aa9b77;
  font-weight: bold;
}

.pagination-second {
  text-align: left;
  padding-bottom: 25px;
}
.pagination-second div {
  font-family: "Quicksand";
  font-size: 16px;
  color: #aa9b77;
  font-weight: bold;
}

.name-products:nth-child(2) {
  flex-direction: row-reverse;
}

.about {
  background-color: #aa9b77;
  text-align: center;
  padding-top: 75px;
  margin-top: 130px;
  padding-bottom: 70px;
}
@media only screen and (max-width : 480px) {
  .about {
    margin-top: 90px;
  }
}
.about .des-about {
  border: solid 2px #918363;
  width: 430px;
  margin: 0 auto;
  padding: 90px 110px;
  position: relative;
}
@media only screen and (max-width : 768px) {
  .about .des-about {
    padding: 70px 90px;
  }
}
@media only screen and (max-width : 600px) {
  .about .des-about {
    width: 65%;
    padding: 50px 70px;
  }
}
@media only screen and (max-width : 480px) {
  .about .des-about {
    width: 65%;
    padding: 40px 50px;
  }
  .about .des-about p {
    margin: 0;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 16px;
    color: #333333;
  }
}
@media only screen and (max-width : 480px) and (max-width : 600px) {
  .about .des-about p {
    font-size: 14px;
  }
}
@media only screen and (max-width : 480px) and (max-width : 480px) {
  .about .des-about p {
    font-size: 10px;
  }
}
.about .title-about h2 {
  color: #918363;
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #aa9b77;
  padding: 0 15px;
}
@media only screen and (max-width : 480px) {
  .about .title-about h2 {
    font-size: 15px;
    top: -24px;
  }
}

.available {
  background-color: #535253;
  padding: 20px 0;
}
.available .container-available {
  display: flex;
  align-items: center;
}
.available .container-available .content-available h2 {
  color: #ffffff;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
}

.menu-footer {
  background-color: #424242;
  padding-top: 105px;
  padding-bottom: 115px;
}
.menu-footer .footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width : 480px) {
  .menu-footer .footer-main {
    display: block;
  }
}
.menu-footer .footer-main-content {
  width: 320px;
}
@media only screen and (max-width : 480px) {
  .menu-footer .footer-main-content {
    text-align: center;
    margin: 0 auto;
  }
}
.menu-footer .footer-main-content .title-footer h2 {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-top: 0;
}
.menu-footer .footer-main-content .des-footer p {
  font-family: "Quicksand";
  font-weight: bold;
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
  .menu-footer .footer-main-menu {
    text-align: center;
    margin: 0 auto;
  }
}
.menu-footer .footer-main-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -5px;
}
@media only screen and (max-width : 480px) {
  .menu-footer .footer-main-menu ul {
    padding-left: 0;
  }
}
.menu-footer .footer-main-menu ul li {
  padding: 0 5px;
}
.menu-footer .footer-main-menu ul li a {
  color: #ffffff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: bold;
}
.menu-footer .footer-main-menu ul span {
  color: #ffffff;
}
.menu-footer .footer-main .des-menu-footer p {
  text-align: right;
  color: #ffffff;
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: bold;
}
@media only screen and (max-width : 480px) {
  .menu-footer .footer-main .des-menu-footer p {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
